.greet {
  text-align: center;
  background-color: #434445;
  color: white;
  padding: 10px;
}
.type {
  width: 100%;
  align-content: center;
  background-color: #282c34;
  text-align: center;
  font-family: "Roboto Slab ExtraLight";
}
.Cards {
  background-color: lightgray;
  align-items: center;
  align-self: center;
  align-content: center;
  position: center;
}
